<div id="<%= dom_id site_var %>">
  <p>
    <strong>Site var heading1:</strong>
    <%= site_var.site_var_heading1 %>
  </p>

  <p>
    <strong>Site var heading2:</strong>
    <%= site_var.site_var_heading2 %>
  </p>

  <p>
    <strong>Site var heading3:</strong>
    <%= site_var.site_var_heading3 %>
  </p>

  <p>
    <strong>Site var heading4:</strong>
    <%= site_var.site_var_heading4 %>
  </p>

  <p>
    <strong>Site var heading5:</strong>
    <%= site_var.site_var_heading5 %>
  </p>

  <p>
    <strong>Site var disclaimer1:</strong>
    <%= site_var.site_var_disclaimer1 %>
  </p>

</div>
