<h1 style="text-align: center;">Dashboard</h1>

<section class="dashboard">

  <div class="goals-container">
    <h3>Goals</h3>

    <% @in_progress_goals.each do |goal| %>
      <%= render partial: "dashboard/goal_card", locals: { goal: goal } %>
    <% end %>

    <h5>Not Started</h5>
    <% @not_started_goals.each do |goal| %>
      <%= render partial: "dashboard/goal_card", locals: { goal: goal } %>
    <% end %>
    
    <h5>On Hold</h5>
    <% @on_hold_goals.each do |goal| %>
      <%= render partial: "dashboard/goal_card", locals: { goal: goal } %>
    <% end %>

     <h5>Completed</h5>
    <% @completed_goals.each do |goal| %>
      <%= render partial: "dashboard/goal_card", locals: { goal: goal, completed: true } %>
    <% end %>
  </div>

  <div class="tasks-container">
    <h3>Tasks</h3>

    <% @in_progress_tasks.each do |task| %>
      <div class="task-card <%= task.status %>">
        <h2><%= link_to task.task_name, task_path(task) %></h2>
        <p><%= task.description %></p>
        <p>Priority: <%= task.priority %></p>
        <p>Due: <%= task.due_date %></p>
        <p>Goal: <%= link_to task.goal.title, goal_path(task.goal) if task.goal %></p>
      </div>
    <% end %>
      
    <h5>Not Started</h5>
     <% @not_started_tasks.each do |task| %>
      <div class="task-card <%= task.status %>">
        <h2><%= link_to task.task_name, task_path(task) %></h2>
        <p><%= task.description %></p>
        <p>Priority: <%= task.priority %></p>
        <p>Due: <%= task.due_date %></p>
        <p>Goal: <%= link_to task.goal.title, goal_path(task.goal) if task.goal %></p>
      </div>
    <% end %>

    <h5>On Hold</h5>
    <% @on_hold_tasks.each do |task| %>
      <div class="task-card <%= task.status %>">
        <h2><%= link_to task.task_name, task_path(task) %></h2>
        <p><%= task.description %></p>
        <p>Priority: <%= task.priority %></p>
        <p>Due: <%= task.due_date %></p>
        <p>Goal: <%= link_to task.goal.title, goal_path(task.goal) if task.goal %></p>
      </div>
    <% end %>
  </div>

  <div class="completed-tasks-container">
    <h3>Completed Tasks</h3>
    <% @completed_tasks.each do |task| %>
      <div class="task-card <%= task.status %>">
        <h2><%= link_to task.task_name, task_path(task) %></h2>
        <p><%= task.description %></p>
        <p>Priority: <%= task.priority %></p>
        <p>Due: <%= task.due_date %></p>
        <p>Goal: <%= link_to task.goal.title, goal_path(task.goal) if task.goal %></p>
      </div>
    <% end %>
  </div>

</section>
