<div id="<%= dom_id task %>">
  <p>
    <strong>Task name:</strong>
    <%= task.task_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= task.due_date %>
  </p>

  <p>
    <strong>Completion date:</strong>
    <%= task.completion_date %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= task.assigned_to %>
  </p>

  <p>
    <strong>Estimated time:</strong>
    <%= task.estimated_time %>
  </p>

  <p>
    <strong>Actual time:</strong>
    <%= task.actual_time %>
  </p>

</div>
