<h1><%= @task.task_name %></h1>

<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Priority:</strong> <%= @task.priority %></p>
<p><strong>Start Date:</strong> <%= @task.start_date %></p>
<p><strong>Due Date:</strong> <%= @task.due_date %></p>
<p><strong>Completion Date:</strong> <%= @task.completion_date %></p>
<p><strong>Assigned To:</strong> <%= @task.assigned_to %></p>
<p><strong>Estimated Time (hours):</strong> <%= @task.estimated_time %></p>
<p><strong>Actual Time (hours):</strong> <%= @task.actual_time %></p>

<%= link_to 'Back to Tasks', tasks_path %>
