<h1><%= @blog_post.title %></h1>

<div class="blog-post">

<% if @blog_post.image.present? %>
    <div class="image">
        <img src="<%= @blog_post.image %>" alt="<%= @blog_post.title %>" />
    </div>
<% end %>

<div class="title">
    <%= @blog_post.title %>
</div>

<% if @blog_post.description.present? %>
    <div class="description">
        <%= @blog_post.description %>
    </div>
<% end %>

<div class="body">
    <%= simple_format(@blog_post.body) %>
</div>
<p><em>Posted: <%= @blog_post.created_at.strftime("%B %d, %Y") %></em></p> <!-- Added line -->
<div class="navigation">
<%= link_to 'Back to Blog Posts', blog_posts_path %>
</div>