<div class="rewards">

  <%= form_with model: @reward, local: true do |f| %>
    <div class="reward-card reward-form">
      <div class="form-grid">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :goal_id, "Associated Goal" %>
          <%= f.collection_select :goal_id, @goals, :id, :title, {}, { class: "form-control" } %>
        </div>

        <div class="form-group">
          <%= f.label :cooldown_days %>
          <%= f.number_field :cooldown_days, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :allowed_duration_days %>
          <%= f.number_field :allowed_duration_days, class: "form-control" %>
        </div>

        <div class="form-group full-width">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", rows: 3 %>
        </div>

        <div class="form-group full-width">
          <%= f.label :task_ids, "Required Tasks" %>
          <%= f.collection_select :task_ids, @tasks, :id, :task_name, {}, { multiple: true, class: "form-control", size: 5 } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Create Reward", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
