<div id="nav">
  <div>
    <%= image_tag("logo.png") %>
  </div>
  <div>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Portfolio", 'pages/portfolio' %></li>
      <li><%= link_to "Videos", "pages/videos" %></li>
      <li><%= link_to "Blog", "pages/blog" %></li>
      <%= render "shared/navuser" %>
    </ul>
  </div>
</div>
