<%= render "shared/nestednav" %>

<%= render "shared/portfolio" %>

<!-- Search -->

<%= form_tag(portfolio_path, method: :get) do %>
    <%= label_tag(:keyword, "Search for:") %>
    <%= text_field_tag(:keyword) %>
    <%= submit_tag("Search") %>
  <% end %>
  
  <% if flash[:alert].present? %>
    <p><%= flash[:alert] %></p>
  <% end %>
  
  <% if @results.present? %>
    <% @results.each do |result| %>
      <p><%= [result.portfolio_card_title, result.portfolio_card_url] %></p>
    <% end %>
  <% else %>
    <p>No results</p>
<% end %>