<section id="game">
  <ul>
    <li>
      <h2><%= @game.game_name %></h2>
      <% if @game.game_image.present? %>
        <div>
          <%= image_tag(@game.game_image, alt: @game.game_name) %>
        </div>
      <% end %>
      <% if @game.game_notes.is_a?(Array) %>
        <% @game.game_notes.each do |note| %>
          <p><%= note %></p>
        <% end %>
      <% else %>
        <p><%= @game.game_notes %></p>
      <% end %>
      <% if @game.youtube_id.present? %>
        <div>
          <iframe 
            src="https://www.youtube.com/embed/<%= @game.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>" 
            frameborder="0" 
            allowfullscreen>
          </iframe>
        </div>
      <% end %>
    </li>
  </ul>
</section>