<section class="about">
<h1>About</h1>

<ul id="paragraphs_from_yml">
  <li>
    <%= image_tag "logo.png", alt: "Logo", class: "navbar-logo" %>
    <p><%= @about_info['about']['paragraph1'] %></p>
  </li>  
  <li>
    <%= image_tag "logo.png", alt: "Logo", class: "navbar-logo" %>
    <p><%= @about_info['about']['paragraph2'] %></p>
  </li>
  <li>
    <%= image_tag "logo.png", alt: "Logo", class: "navbar-logo" %>
    <p><%= @about_info['about']['paragraph3'] %></p>
  </li>
</ul>
</section>