<h1>About</h1>

<!-- change this in about_controller.rb-->
<p id="about_from_controller"><%= @about %></p>

<ul id="paragraphs_from_yml">
  <li><%= @about_info['about']['paragraph1'] %></li>
  <li><%= @about_info['about']['paragraph2'] %></li>
  <li><%= @about_info['about']['paragraph3'] %></li>
  <li><%= @about_info['about']['paragraph4'] %></li>
</ul>