<section id="contact">

<h2>Contact Information</h2>
<ul>
  <li><%= @contact_info['contact']['email'] %></li>
</ul>

<h2>Follow Us</h2>
<p>Stay connected with us on social media!</p>
<ul class ="social_media">
  <li><a href="<%= @contact_info['social_media']['instagram'] %>" target="_blank">Instagram</a></li>
  <li><a href="<%= @contact_info['social_media']['linkedin'] %>" target="_blank">Linkedin</a></li>
  <li><a href="<%= @contact_info['social_media']['youtube'] %>" target="_blank">YouTube</a></li>
  <li><a href="<%= @contact_info['social_media']['github'] %>" target="_blank">Github</a></li>
</ul>
</section>