<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
    <%= GOAL_ICONS[goal.category] || "ðŸ“" %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= goal.due_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= goal.priority %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= goal.category %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= goal.status %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= goal.completed_at %>
  </p>

</div>
