<section class="goals">
<h1>Goals</h1>

<table class="goals-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Icon</th>
      <th>Deadline</th>
      <th>Projected Time</th>
      <th>Related Tasks</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="goal">
    <% @goals_by_due_date_asc.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.title %></td>
        <td>
          <%= (goal.due_date - Date.today).to_i %> days
        </td>
        <td><%= goal.tasks.sum(:estimated_time) %> minutes</td>
        <td>
          <%= link_to goal.tasks.count, tasks_path(goal_id: goal.id) %>
        </td>
        <td>
          <%= goal.due_date %> 
        </td>
        <td>
          <%= goal.status %> 
        </td>
        <td><%= link_to "Show", goal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Goal", new_goal_path %>
</section>